*.js
!jest.config.js
!layers/shared/nodejs/node_modules/shared/validation.js
*.d.ts
node_modules
!layers/shared/nodejs/node_modules/
!layers/shared/nodejs/node_modules/shared/

# CDK asset staging directory
.cdk.staging
cdk.out

.idea/

*.schema.json
